<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Webshop</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<h2>Webshop</h2>
		</header>
		<nav>
			<a href="/">Termékek</a>
			<a href="/register">Regisztráció</a>
			<a href="/login">Bejelentkezés</a>
			<!-- ha user akkor csak logout + admin linkje -->
		</nav>
		<section>
			<aside>
				<form action="/search">
					<input type="text" name="search">
					<button type="submit">Keresés</button>
				</form>
				<hr>
				<ul>
					<!-- MINTA: csak ezért van itt hogy meg lehessen nézni az oldalt. -->
					<% product_types = [
						{"name":"asd"},
						{"name":"xd"},
						{"name":"mukodik"},
						{"name":"a fasze vagyok huulye"}
					] %>
					<% for (const pt of product_types) { %>
						<li><a href="filter/<%= pt.name%>"><%= pt.name%></a></li>
					<% } %>
				</ul>
			</aside>
			<article>
				<!-- MINTA: csak ezért van itt hogy meg lehessen nézni az oldalt. -->
				<% products = [
					{"name":"asd", "price":"300ft", "desc":"whatthefuckisapicture", "image":"mi-a-fasz.jpg"},
					{"name":"xd", "price":"300ft", "desc":"this a pic", "image":"mi-a-fasz2.jpg"},
					{"name":"mukodik", "price":"30123yxdfft", "desc":"dic pic", "image":"mi-a-fasz.jpg"},
					{"name":"a fasze vagyok huulye", "price":"69ft", "desc":"kettoharomnegy5", "image":"mi-a-asz.jpg"}
				] %>
				<% for (const product of products) { %>
					<div onclick="location.href='/product/<%= product.name%>'">
						<image src="images/<%= product.image%>" alt="<%= product.desc%>" width="180" height="180"></image>
						<p class="name"><%= product.name%></p>
						<p class="price"><%= product.price%></p>
					</div>
				<% } %>
			</article>
		</section>
		<footer></footer>
  	</body>
</html>