<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Webshop</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<h2>Webshop</h2>
		</header>
		<nav>
			<a href="/">Termékek</a>
			<a href="/register">Regisztráció</a>
			<a href="/login">Bejelentkezés</a>
			<!-- ha user akkor csak logout + admin linkje -->
		</nav>
		<section>
			<aside>
				<form action="/search">
					<input type="text" name="search">
					<button type="submit">Keresés</button>
				</form>
				<hr>
				<ul>
					<!-- MINTA: csak ezért van itt hogy meg lehessen nézni az oldalt. -->
					<% product_types = [
						{"name":"asd"},
						{"name":"termékfajta0"},
						{"name":"mukodik"},
						{"name":"termékfajta13"},
						{"name":"asd"},
						{"name":"xd"},
						{"name":"mukodik"},
						{"name":"a fasze vagyok huulye"},
						{"name":"asd"},
						{"name":"xd"},
						{"name":"mukodik"},
						{"name":"termékfajta1"},
						{"name":"atermékfajta6"},
						{"name":"xd"},
						{"name":"mukodik"},
						{"name":"a fasze vagyok huulye"},
						{"name":"asd"},
						{"name":"mukodik"},
						{"name":"a fasze vagyok huulye"},
						{"name":"asd"},
						{"name":"xd"},
						{"name":"mukodik"},
						{"name":"termékfajta169"},
						{"name":"asd"},
						{"name":"xd"},
						{"name":"mukodik"},
						{"name":"a fasze vagyok huulye"},
						{"name":"asd"},

						{"name":"a fasze vagyok huulye"}
					] %>
					<% for (const pt of product_types) { %>
						<li><a href="filter/<%= pt.name%>"><%= pt.name%></a></li>
					<% } %>
				</ul>
			</aside>
			<article>
				<% for (const termek of termekek) { %>
					<div onclick="location.href='/product/<%= termek.nev%>'">
						<image src="image/product/<%= termek.kep%>" alt="<%= termek.nev%>" width="180" height="180" onerror="this.src='image/product/product.jpg';"></image>
						<p class="name"><%= termek.nev%></p>
						<p class="price"><%= termek.ar%> Ft</p>
					</div>
				<% } %>
			</article>
		</section>
		<footer></footer>
  	</body>
</html>