<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Webshop</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<meta nev="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<h2>Webshop</h2>
		</header>
		<nav>
			<a href="/">Termékek</a>
			<a href="/logout">Kijelentkezés</a>
			<!-- ha felhasznalo akkor csak logout + admin linkje -->
		</nav>
		<section>
			<aside></aside>
			<article>
				<!-- MINTA: csak ezért van itt hogy meg lehessen nézni az oldalt. -->
				<h2>Rendelés</h2>
				<h3>Kosár tartalma:</h3>
				
				<table>
					<th>Termék neve</th>
					<th>Ár</th>
					<th>Mennyiség</th>
					<th>Módosítás
				<%
				let total = 0;
				let s = '';
				for (const termek of termekek) {
					total += termek.ar * termek.darab; 
					s += termek.nev;
					if(termek != termekek[termekek.length - 1]) {
						s += ", ";
					}%>	
						<tr>
							<td><%= termek.nev%></td>
							<td><%= termek.ar%></td>
							<td><%= termek.darab%></td>
							<td><button onclick="location.href='/kosar_modosit/<%= termek.nev%>/<%= termek.darab%>/+'" type="submit">+</button>
								<button onclick="location.href='/kosar_modosit/<%= termek.nev%>/<%= termek.darab%>/-'"type="submit">-</button>
								<button onclick="location.href='/kosar_modosit/<%= termek.nev%>/<%= termek.darab%>/d'"type="submit">Törlés</button></td>
						</tr>
				<% } %>
				</table>
				<h3>Szállítási cím</h3>
				<form action="/pay" method="post">
					<!-- MINTA: csak ezért van itt hogy meg lehessen nézni az oldalt. -->
					<% let felhasznalo = {"nev":"Kovács Dávid", "email":"honti.szabolcs123@gmail.com", "lakcim":"in your mom", "szuldatum":"2000.01.01."} %>
					<input type="text" id="szall_cim" nev="szall_cim" value="<%= felhasznalo.lakcim%>"></input>
					</br>
					<h3>Végösszeg: <%= total%> HUF</h3>
					<input hidden type="text" id="kosar" name="kosar" value="<%= s%>"></input>
					<input hidden type="text" id="email" name="email" value="<%= felhasznalo.email%>"></input>
					<input hidden type="number" id="vegosszeg" name="vegosszeg" value="<%= total%>"></input>
					<button type="submit">Megrendelem</button>
				</form>
			</article>
		</section>
		<footer></footer>
  	</body>
</html>