<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Webshop</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<meta nev="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<h2>Webshop</h2>
		</header>
		<nav>
			<a href="/">Termékek</a>
			<a href="/logout">Kijelentkezés</a>
			<!-- ha felhasznalo akkor csak logout + admin linkje -->
		</nav>
		<section>
			<aside></aside>
			<article>
				<!-- MINTA: csak ezért van itt hogy meg lehessen nézni az oldalt. -->
				<h2>Rendelés</h2>
				<h3>Kosár tartalma:</h3>
				<% let kosar = [
					{"nev":"asd", "ar":300, "kep":"mi-a-fasz.jpg", desc:"Desc1", quantity:3 },
					{"nev":"xd", "ar":300, "kep":"mi-a-fasz2.jpg", desc:"Desc69", quantity:2 },
					{"nev":"mukodik", "ar":30123, "kep":"mi-a-fasz.jpg", desc:"Desc3", quantity:1 },
					{"nev":"asd", "ar":300, "kep":"mi-a-fasz.jpg", desc:"Desc1", quantity:3 },
					{"nev":"xd", "ar":300, "kep":"mi-a-fasz2.jpg", desc:"Desc69", quantity:2 },
					{"nev":"mukodik", "ar":30123, "kep":"mi-a-fasz.jpg", desc:"Desc3", quantity:1 },
					{"nev":"asd", "ar":300, "kep":"mi-a-fasz.jpg", desc:"Desc1", quantity:3 },
					{"nev":"xd", "ar":300, "kep":"mi-a-fasz2.jpg", desc:"Desc69", quantity:2 },
					{"nev":"mukodik", "ar":30123, "kep":"mi-a-fasz.jpg", desc:"Desc3", quantity:1 },
					{"nev":"asd", "ar":300, "kep":"mi-a-fasz.jpg", desc:"Desc1", quantity:3 },
					{"nev":"xd", "ar":300, "kep":"mi-a-fasz2.jpg", desc:"Desc69", quantity:2 },
					{"nev":"mukodik", "ar":30123, "kep":"mi-a-fasz.jpg", desc:"Desc3", quantity:1 },
					{"nev":"a fasze vagyok huulye", "ar":69, "kep":"mi-a-fasz.jpg", desc:"Desc4", quantity:42 }
				];
				let total = 0;
				let s = '';
				%>
				<table>
					<th>Név</th>
					<th>Forint</th>
					<th>Darab</th>
					
				<% for (const termek of kosar) { 
					total += termek.ar * termek.quantity; 
					s += termek.nev;
					if(termek != kosar[kosar.length - 1]) {
						s += ", ";
					}%>	
						<tr>
							<td><%= termek.nev%></td>
							<td><%= termek.ar%></td>
							<td><%= termek.quantity%></td>
							<td><button type="submit">+</button></td>
							<td><button type="submit">-</button></td>
							<td><button type="submit">Törlés</button></td>
						</tr>
				<% } %>
				</table>
				<h3>Szállítási cím</h3>
				<form action="/pay" method="post">
					<!-- MINTA: csak ezért van itt hogy meg lehessen nézni az oldalt. -->
					<% let felhasznalo = {"nev":"Kovács Dávid", "email":"honti.szabolcs123@gmail.com", "lakcim":"in your mom", "szuldatum":"2000.01.01."} %>
					<input type="text" id="lakcim" nev="lakcim" value="<%= felhasznalo.lakcim%>"></input>
					</br>
					<h3>Végösszeg: <%= total%> HUF</h3>
					<input hidden type="text" id="kosar" name="kosar" value="<%= s%>"></input>
					<input hidden type="text" id="email" name="email" value="<%= felhasznalo.email%>"></input>
					<button type="submit">Megrendelem</button>
				</form>
			</article>
		</section>
		<footer></footer>
  	</body>
</html>