<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Webshop</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<h2>Webshop</h2>
		</header>
		<nav>
			<a href="/">Termékek</a>
			<a>Kijelentkezés</a>
			<!-- ha user akkor csak logout + admin linkje -->
		</nav>
		<section>
			<aside></aside>
			<article>
				<table>
                    <tr>
                        <td rowspan="2"><image src="../images/<%= termek.kep%>" alt="<%=termek.nev%>" width="180" height="180"></image></td>
                        <td class="name"><%=termek.nev%></td>
                        <td class="kihagy"></td>
                        <td class="price"><%=termek.ar%> Ft</td>
                        <td><button id="kosar">Kosárba</button></td>
                    </tr>
                    <tr>
                        <td class="kihagy"></td>
                        <td colspan="2" class="kihagy"></td>
                        <td><button onclick="location.href='/product-update/<%= termek.nev%>'">Módosítás</button></td>
                    </tr>
                    <tr>
                        <td colspan="5" id="spec">Termék leírás
                            <ul>
                                <li><%=termek.leiras%></li>
                            </ul>
                        </td>
                    </tr>
                </table>
			</article>
		</section>
		<footer></footer>
  	</body>
</html>