<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Webshop</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<h2>Webshop</h2>
		</header>
		<nav>
			<a href="/">Termékek</a>
			<a>Kijelentkezés</a>
			<!-- ha user akkor csak logout + admin linkje -->
		</nav>
		<section>
			<aside></aside>
			<article>
				<table>
                    <tr>
                        <td rowspan="2"><image src="../images/<%= termek.kep%>" alt="<%=termek.nev%>" width="180" height="180"></image> <input type="text" size="20" maxlength="250" values="új kép neve" /></td>
                        <td class="name"><%=termek.nev%> <input type="text" size="20" maxlength="250" values="új név" /></td>
                        <td class="kihagy"></td>
                        <td class="price"><%=termek.ar%> Ft <input type="number" values="új ár" /></td>
                        <td><button id="kosar">Kosárba</button></td>
                    </tr>
                    <tr>
                        <td class="kihagy"></td>
                        <td colspan="2" class="kihagy"></td>
                        <td><button>Módosítás</button></td>
                    </tr>
                    <tr>
                        <td colspan="5" id="spec">Termék leírás
                            <ul>
                                <li><%=termek.leiras%> <input type="text" size="100" maxlength="250" values="új leírás" /></li>
                            </ul>
                        </td>
                    </tr>
                </table>
			</article>
		</section>
		<footer></footer>
  	</body>
</html>